@charset "UTF-8" ;

* {
	margin:0;
	paddin:0;
}

.header {
	background-color:gray;
}

.label1 {
	display:inline-block;
	padding:10px;
	color:white;
}

.label2 {
	padding:10px;
	font-size:10px;
}

.main {
	padding-top:50px;
	padding-bottom:50px;
}

.footer {
	background-color:gray;
}

.label3 {
	display:inline-block;
	padding:10px;
	color:white;
}
