@media screen and (max-width:767px) {
    #wrapper {
        width:300px;
    }

    .left {
        width:100px;
    }

    .center-top {
        width:125px;
    }

    .center {
        width:125px;
    }

    .right {
        width:75px;
    }

    .center-right {
        width:200px;
    }
}

@media screen and (max-width:479px) {
    #wrapper {
        width:150px;
    }
    
    .left {
        float:none;
        width:150px;
    }

    .center-top {
        float:none;
        width:150px;
    }

    .center {
        float:none;
        width:150px;
    }

    .right {
        float:none;
        width:150px;
    }

    .center-right {
        float:none;
        width:150px;
    }
}