* {
    margin:0;
    padding:0;
}

.clearfix::after {
    content:"";
    display:block;
    clear:both;
}

#wrapper {
    width:400px;
}

.header {
    height:100px;
    background-color:#141f40
}

.left{
    height:250px;
    width:150px;
    background-color:#80bfa8;
    float:left;
}

.right {
    float:right;
    height:150px;
    width:100px;
    background-color:#ff9e6b
}

.center-top {
    float:left;
    height:50px;
    width:150px;
    background-color:#dbd400
}

.center {
    float:left;
    height:100px;
    width:150px;
    background-color:#0093b7;
}

.center-right {
    float:right;
    height:100px;
    width:250px;
    background-color:#8c2727;
}

.footer {
    height:100px;
    background-color:#d98d30;
}